@import "main.css";

.root{
    -fx-background-color: #424242;
}

.text-field{
  -fx-control-inner-background: #575656;
}

.label {
    -fx-text-fill: #ffffff;
}

.text-field{
    -fx-prompt-text-fill: #e7e7e7;
}